<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>User Login</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/bootstrap-icons.css" rel="stylesheet">

    <link href="css/tooplate-crispy-kitchen.css" rel="stylesheet">
    <!--

    Tooplate 2129 Crispy Kitchen

    https://www.tooplate.com/view/2129-crispy-kitchen

    -->
</head>

<body>
<main>

    <header class="site-header site-contact-header">
        <div class="container">
            <div class="row">

                <div class="col-lg-10 col-12 mx-auto">
                    <h1 class="text-white">Hello User</h1>

                    <strong class="text-white">We are happy to get in touch with you</strong>
                </div>

            </div>
        </div>

        <div class="overlay"></div>
    </header>

    <section class="contact section-padding">
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <h2 class="mb-4">User Login</h2>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="col-12">
                        <label class="form-label" style="color:red;">{{msg}}</label>
                    </div>
                    <form class="custom-form contact-form row" action="/login" method="post" role="form">

                        <div class="col-12">
                            <label for="contact-email" class="form-label">Email</label>
                            <input type="text" name="useremail" id="contact-email" class="form-control"
                                   placeholder="Your Email" required="">
                        </div>

                        <div class="col-12">
                            <label for="contact-email" class="form-label">Password</label>

                            <input type="password" name="userpassword" id="contact-email" class="form-control"
                                   placeholder="Your Password" required="">

                        </div>

                        <div class="col-lg-5 col-12 ms-auto">
                            <button type="submit" class="form-control" value="login">Login</button>
                        </div>
                        <div class="col-lg-5 col-12 ms-auto">
                            <button type="button" class="form-control"><a href="/signup_page">Sign Up</a>
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>

</main>

<!-- JAVASCRIPT FILES -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/custom.js"></script>

</body>
</html>
