<section class="menu section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Password</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in user_data %}
                        <tr>
                            <th scope="row">{{user.0}}</th>
                            <td>{{user.1}}</td>
                            <td>{{user.2}}</td>
                            <td>{{user.3}}</td>
                            <td>
                                <button type="button" class="btn btn-primary"><a href="/edit/{{user.0}}"><i
                                        class="far fa-eye">Edit</i></a></button>
                                <button type="button" class="btn btn-danger"><a href="/delete/{{user.0}}"><i
                                        class="far fa-trash-alt">Delete</i></a></button>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>